@font-face { font-family: daisy; src: url('/fonts/daisy.ttf'); } 
.main{
    font-family: daisy;
}
.sec{
    font-family: daisy;
}

.gray{
    color: rgba(121, 121, 121, 0.87)
}

.facebook:hover{
    background-image: url("/icons/facebook-3-32.png")
}
.facebook{
    background-image: url("/icons/facebook-3-32-flat.png")
}
.email:hover{
    background-image: url("/icons/email-11-32.png")
}
.email{
    background-image: url("/icons/email-11-32-flat.png")
}
.google-plus:hover{
    background-image: url("/icons/google-plus-32.png")
}
.google-plus{
    background-image: url("/icons/google-plus-32-flat.png")
}
.linkedin:hover{
    background-image: url("/icons/linkedin-3-32.png")
}
.linkedin{
    background-image: url("/icons/linkedin-3-32-flat.png")
}
.whatsapp:hover{
    background-image: url("/icons/whatsapp-32.png")
}
.whatsapp{
    background-image: url("/icons/whatsapp-32-flat.png")
}
.instagram:hover{
    background-image: url("/icons/instagram-32.png")
}
.instagram{
    background-image: url("/icons/instagram-32-flat.png")
}
.github:hover{
    background-image: url("/icons/github-6-32.png")
}
.github{
    background-image: url("/icons/github-6-32-flat.png")
}

.navbar{
  list-style: none;
  padding: 0;
  border: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
}

.navbar-middle {
  margin: 0 20px;
}


/* Change the link color to #111 (black) on hover */

.icon{
    width:32px;
    height:32px;
    margin: 10px 15px;

}